.center{
    display: flex;
    flex-direction: column;
    width: 40%;
    position: absolute;
    left: 30%;
    top: 30%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form *{
    margin: 5px 0;
}