/* webfont */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300');

/* setup */
body {
    font: 14px 'Open Sans', sans-serif;
    background: @darkbg;
    color: @silver-light;
}
* { box-sizing: border-box; }
.container {
    width: 600px;
    margin: 40px auto;
    background: @default;
    padding: 20px;
    border: 5px solid @default-dark;
    .box-shadow(0 0 24px rgba(0,0,0,0.12));

    h1, h2 { padding: 0; margin: 0; .font-smooth; text-align: center; }
    h1 { font-weight: 300; font-size: 36px; line-height: 1.2em; }
    h2 { font-size: 16px; line-height: 1.4em; margin-bottom: 20px; }
    .block {
        padding: 10px;
        border: 2px solid @default-light;
        margin-top: 6px;
        em {
            text-align: right;
            display: block;
            font-style: normal;
            color: @silver-darker;
            margin-top: -4px;
            margin-bottom: 4px;
            font-size: 12px;
        }
    }
}

/* form ui variables */
@checkbox-radius: 6px;
@ui-checkbox-size: 20px;
@ui-checkbox-offset: 2px; /* unfortunate hack to get precise vertical alignment */
@input-radius: 6px;
@font-size: 14px;
@label-width: 16%; /* set percent, stacked view only */

/* form elements */
.checkbox, .radio {
    form { display: inline-block; }
    input, label { cursor: pointer; }
    input {
        opacity: 0;
        position: absolute;
        + label {
            line-height: @ui-checkbox-size + 2;
            display: inline-block;
            padding: 2px;
            margin: @ui-checkbox-offset @ui-checkbox-size - 12 -@ui-checkbox-offset 0;
            .transition;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: -@ui-checkbox-offset;
                margin-right: 6px;
                border-radius: @checkbox-radius;
                height: @ui-checkbox-size;
                width: @ui-checkbox-size;
                border: 2px solid @default-lighter;
                .transition;
            }
            &:hover {
                color: @silver;
                &:before {
                    border-color: @green-bright;
                }
            }
        }
        &:checked {
            + label {
                color: @green-bright;
                &:before {
                    background: @green-bright;
                    border-color: @default-lighter;
                }
                &:hover:before {
                    border-color: @green-bright;
                }
            }
        }
    }
}
.radio input + label:before { border-radius: 50%; }

.text-input {
    input {
        border-radius: @input-radius;
        outline: none;
        line-height: @font-size;
        font-size: @font-size;
        padding: 4px 8px;
        margin-right: 6px;
        background: transparent;
        border: 2px solid @default-lighter;
        .transition;

        &:focus {
            border-color: @silver-dark;
            color: @silver-light;
        }
    }
    label {
        position: relative;
        float: left;
        top: 6px;
        margin-right: 10px;
        color: @silver-dark;
        cursor: pointer;
        .transition;
    }
    input:focus + label { color: @silver-light; }
    .form-group { display: inline-block; }
}

.stacked {
    .form-group {
        width: 100%;
        display: block;
        margin-bottom: 6px;
        label { width: @label-width; margin: 0; }
        input { width: 100 - @label-width; margin: 0; }
    }
}

/* color variables */
@darkbg: #1f2336;
@default-lighter: 		#535a83;
@default-light: 		#474c6c;
@default: 				#3c405c;
@default-dark: 			#343850;
@default-darker: 		#2a2d3e;
@silver-lighter: 		#eff5ff;
@silver-light: 			#d3d7e3;
@silver: 				#aeb8d6;
@silver-dark: 			#a4abc1;
@silver-darker: 		#8690af;
@green-bright: 			#3cff85;
@green-transparent: 	rgba(60, 255, 133, 0.7);

/* mixins */
.transition(@duration:0.25s, @ease:ease-in-out) {
    -webkit-transition: all @duration @ease;
    -moz-transition: all @duration @ease;
    -o-transition: all @duration @ease;
    transition: all @duration @ease;
}
.font-smooth(@fontsmooth: antialiased, @mozfontsmooth: grayscale ) {
    -webkit-font-smoothing: @fontsmooth;
    -moz-osx-font-smoothing: @mozfontsmooth;
    font-smoothing: @fontsmooth;
    text-rendering: optimizeLegibility;
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}