body{
    background: linear-gradient(90deg, #3e3b65, #46305c);
    color: white;
    font-family: Arial, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
}

article{
    display: flex;
    flex-direction: column;
}

.form-item{
    background-color: #362f54;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #382f55, 0 6px 20px 0 #382f55;
    padding: 20px;
    margin: 20px;
}

input{
    color: white;
}

/* text input */
.input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input:focus{
    outline: none;
}

.mg-left{
    margin-left: 10px;
}

/* buttons */
.border-gradient {
    display: inline-block;
    border-radius: 15px; 
    border: 3px solid transparent;
    margin: 3px;
    background: linear-gradient(to left, #743ad5, #d53a9d) border-box;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

input[type="submit"]{
    text-decoration: inherit;
    background-color: #382f55;
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 110%;
    transition: 0.3s;
}

.border-gradient:hover{ background: white; }

input[type="submit"]:hover{
    cursor: pointer;
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
}

input{
    background-color: #3f375f;
    padding: 15px;
    margin: 3px;
    border-radius: 10px;
    border: none;
}

/* select */
select{
    background-color: #3f375f;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

select>option{
    border: none;
}

/* table */
.table-wrap{
    width: 70%;
}

table{
    width: 100%;
    table-layout: fixed;
}

.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 2px solid rgba(255,255,255,0.3);
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 2px rgba(255,255,255,0.1);
}